<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
  <style>
    .main{
      padding:50px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Trip Details</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Back</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
  </nav>
  <div class="main">
    <p>Destination: {{select_trip.destination}}</p>
    <p>Start Date: {{select_trip.start_date}}</p>
    <p>End Date: {{select_trip.end_date}}</p>
    <p>Plan: {{select_trip.plan}}</p>
    <p>Created by: {{select_trip.created_by.first_name}}</p>
    <p>People who've joined the trip:</p>
    {% if others %}
      {% for other in others %}
      <p>{{other.first_name}}</p>
      {% endfor%}
    {% endif %} 
  </div>  
</body>
</html>